.weather-forecast-page-pagination {
  height: 10%;
  border-top: 1px solid #96baca;
  padding-top: 25px;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-icon {
      font-size: 50px;
      color: #e9e8cc;
    }
  }
}
