$white: #ffffff;
$title_blue: #5bc5ef;

$border_gray: #cccccc;

$primary-color: #007acc;
$blue-primary: #007acc;

$blue-grey-2: #233643;
$blue-grey-4: #6c8393;
$blue-grey-5: #818f98;
$blue-grey-7: #c2ced6;
$blue-grey-10: #f4f8fb;

$blue-deep-2: #475d6b;
