.weather-forecast-page-header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #96baca;

  &__icon {
    font-size: 30px;
    margin-right: 10px;
    color: #e9e8cc;
  }

  &__city {
    font-size: 25px;
    font-weight: 500;
    color: #e9e8cc;
  }
}

.map-modal {
  .ant-modal-body {
    height: auto;
    padding: 0;
  }
  .ant-modal-content {
    height: 400px !important;
  }
}
